---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>	
	<h1>Formación Academica</h1>
	<ul>
		<li>Colegio Santo Domingo de Guzman </li>
		<li>Ingenieria en Software - Universidad Técnica de Ambato</li>
	</ul>

	<h1>Languages and Tools🛠</h1>
	<ul>
		<li>Javascript</li>
		<li>Java</li>
		<li>React</li>
		<li>Astro</li>
		<li>Git</li>
	</ul>

	
</Layout>
